<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture {{ order.id }}</title>

    <style>
        <!--
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
        }

        .w-100 {
            width: 100% !important;
        }

        .d-flex {
            display: flex !important;
        }

        .mx-400 {
            margin-right: 200px !important;
            margin-left: 200px !important;
        }

        .mb-5 {
            margin-bottom: 25px !important;
        }

        .bold {
            font-weight: bold;
        }

        .font-size-h2 {
            font-size: 20px;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        .content td {
            border: solid 1px #cfd1d2;
            padding: 5px;
        }

        .content th {
            border: solid 1px #000000;
            padding: 5px;
            background-color: #000000;
            color: #ffffff;
        }

        span {
            font-size: 14px;
            font-weight: bold;
        }
    </style>

</head>
<body>
<span class="bold font-size-h2 mb-5">Facture N° {{ order.id }}</span>
<img
        src="{{ logo }}"
        width="100"
        height="auto"
        alt="Logo-L2i"
        class="mx-400"/>
<span>DATE: {{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</span>
<div class="mb-5">
        <span>
            FACTURÉ À {{ order.user.lastname }} {{ order.user.firstname }}
        </span>
</div>

<table class="content">
    <thead>
    <tr class="text-center bold">
        <td>DÉSIGNATION</td>
        <td>QUANTITÉ</td>
        <td>PRIX</td>
        <td>TAXE</td>
        <td>TOTAL</td>
    </tr>
    </thead>
    <tbody>
    {% for product in order.productlist %}
        <tr class="text-center">
            <td>{{ product.title }}</td>
            <td>{{ product.number_ordered }}</td>
            <td>{{ product.unitpriceht }} €</td>
            <td>{{ product.taxe.tva }} %</td>
            <td>{{ product.totalpriceht }} €</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" class="text-right">TOTAL HT</td>
        <td class="text-center">{{ order.totalpriceht }} €</td>
    </tr>
    <tr>
        <td colspan="4" class="text-right">
            <h3>TOTAL TTC À PAYER</h3>
        </td>
        <td class="text-center">
            <h3>{{ order.totalpricettc }} €</h3>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <span>CONDITIONS ET MOYENS DE PAIEMENT : Non Renseigné</span>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
